{% extends "base.html" %}

{% load my_tags %}

{% block title %}
    Home Page
{% endblock %}

{% block sidebar_left %}
    <div>
        {% include 'core/includes/categories.html' %}
    </div>
{% endblock %}

{% block main %}
    {% for announcement in object_list %}
        <div class="card mb-5" style="width: 26rem;">
            <div class="card-header">
                <h4>
                    {{ announcement.header }}
                </h4>
            </div>
            {% if announcement.image %}
                <img src="{{ announcement.image.url }}" class="card-img-top mt-3" alt="Error" height="200px">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ announcement.body|truncatewords:15 }}</h5>
                <a href="{% url 'core:announcement' slug=announcement.slug %}" class="btn btn-primary">Read</a>
            </div>
            <div class="card-footer">
                <h4>
                    {{ announcement.date }}
                </h4>
            </div>
        </div>
    {% endfor %}
</ul>

{% include 'core/includes/pagination.html' %}

{% endblock %}