{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load my_tags %}

{% block title %}
    Products
{% endblock %}

{% block sidebar_left %}
    <div class="card" style="width: 24rem;">
        <div class="card-header">
            <h4>
                Filters
            </h4>
        </div>
        <div class="card-body">
            <form method="get">
                {{ filter_form|crispy }}
                <button type="submit" class="btn-lg btn-success mt-3">Filter</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="btn-group" role="group">
        <div class="btn-group mr-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPaginate" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Paginate By
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPaginate">
                <a class="dropdown-item" href="?{%param_replace paginate_by=1%}">1</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?{% param_replace paginate_by=2 %}">2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?{% param_replace paginate_by=5 %}">5</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?{% param_replace paginate_by=10 %}">10</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownOrder" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Order By
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownOrder">
                <a class="dropdown-item" href="?{% param_replace order_by='view_count' %}">By Popularity</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?{% param_replace order_by='price' %}">By Price</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?{% param_replace order_by='name' %}">By Name</a>
            </div>
        </div>
    </div>

    <ul>
    {% for product in object_list %}
    <div class="card mt-5" style="width: 20rem;">
        {% if product.images.all %}
            <img src="{{ product.images.first.image.url }}" class="card-img-top mt-3" alt="Error" height="350px">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'core:product' slug=product.slug %}">
                    {{ product.name }}
                </a>
            </h5>
            <p class="card-text">{{ product.price }} BYN</p>
            {% if user.is_authenticated %}
                <form class="buy-form" id="{{product.id}}">
                    <input type="number" min="1" value="1" class="count">
                    <button type="submit" class="btn btn-success mt-2 buy">Add to basket</button>
                </form>             
            {% else %}
                <div class="alert alert-warning" role="alert"> 
                    Please,
                    <a href="{% url 'user:login' %}?next={{request.get_full_path|urlencode}}">Login</a>
                </div>
            {% endif %}

        </div>
      </div>
    {% endfor %}
    </ul>

    {% if is_paginated %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a href="?{% param_replace page=1 %}" class="page-link">
                    First
                </a>
            </li>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?{% param_replace page=page_obj.previous_page_number %}" class="page-link">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a href="?{% param_replace page=page_obj.number %}" class="page-link">
                    {{ page_obj.number }}
                </a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?{% param_replace page=page_obj.next_page_number %}" class="page-link">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item">
                <a href="?{% param_replace page=paginator.num_pages %}" class="page-link">
                    Last
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        jQuery(document).on('submit', '.buy-form', function(e) {
            e.preventDefault()
            var jq = jQuery.noConflict() 
            var $this = $(this)
            var id = $this.attr('id')
            var count = $this.children('.count').val()
           
            $.ajax({
                type: 'POST',
                url: "{% url 'core:add-to-basket' %}",
                data: {
                    id: id,
                    count: count,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                cache: false,
                success: function(response) {
                    document.getElementById('products_in_basket_count').innerHTML = response['count']
                    alert('Success!')
                },
                error: function() {
                    alert('Error!')
                }
            })
        })
    </script>

{% endblock %}


